{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-striped">    
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td><b>{{total}}</b></td>
            </tr>
        </tfoot>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{stock.Symbol}}</td>
                    <td>{{stock.Name}}</td>
                    <td>{{stock.Shares}}</td>
                    <td>{{stock.Price}}</td>
                    <td>{{stock.Total}}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4">CASH</td>
            <td>{{user[0].cash}}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}